apiVersion: v1
kind: Service
metadata:
  name: examyandexapp-service
  namespace: examyandexapp
spec:
  selector:
    app: examyandexapp
  ports:
  - port: 80
    targetPort: 8080
  type: LoadBalancer