apiVersion: apps/v1
kind: Deployment
metadata:
  name: sql-server
  namespace: examyandexapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sql-server
  template:
    metadata:
      labels:
        app: sql-server
    spec:
      containers:
      - name: sql-server
        image: mcr.microsoft.com/mssql/server:2022-latest
        ports:
        - containerPort: 1433
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: sa-password
        - name: MSSQL_PID
          value: "Express"
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
---
apiVersion: v1
kind: Service
metadata:
  name: sql-server
  namespace: examyandexapp
spec:
  selector:
    app: sql-server
  ports:
  - port: 1433
    targetPort: 1433
  type: ClusterIP